.env
.env.*
*.pem
*.ppk
*.ovpn
*.key
*.crt
*.pfx
*.kdbx
*_credentials.csv
*accessKeys*.csv
node_modules/
dist/
build/
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars
__pycache__/
.DS_Store
Thumbs.db

